<head></head>

<body>

    <div class="row">
        <div class="col-md-1"></div>

        <div class="col-md-10">

          <div class="row">
            <div class="col-md-3">
                <img [src]="info.crestUrl" width="50%"/>
              </div>
              <div class="col-md-3">
               <h2>{{info.name}}</h2>
               <h3>{{info.shortName}}</h3>
              </div>
              <div class="col-md-6">
                  <h2>Stadium: {{info.venue}}</h2>
                  <h3>Founded: {{info.founded}}</h3>
                  <!-- <h3>Website: </h3> -->
              </div>
            
            </div>

            <br>

        <div class="row">
          
          <div class="col-md-3">
              <h2>Club Info:</h2>
              <div style="overflow-y:scroll; height:450px"> 
                <table class="table table-hover" > 
              <thead style="background-color: "> 
                
                </thead> 
                <tbody> 
 
                  <tr> 
                    <td>Name: {{info.name}} </td>                 
                  </tr> 
                  <tr> 
                      <td>Short Name: {{info.shortName}} </td>                 
                    </tr> 
                    <tr> 
                        <td>Initials: {{info.tla}} </td>                 
                      </tr> 

                   <tr> 
                    <td>Logo:  <img [src]="info.crestUrl" width="50" height="50"></td>                 
                  </tr> 

                <tr> 
                    <td> Year of Fundation: {{info.founded}} </td> 
                </tr> 
 
                 <tr> 
                    <td> Addres: {{info.address}} </td> 
                </tr> 
                
                  <tr> 
                    <td> Country: {{info.area.name}} </td> 
                  </tr> 
 
                   <tr> 
                    <td> Oficial Website : <a href="{{info.website}}">{{info.website}}</a></td> 
                  </tr> 
 
                   <tr> 
                    <td> Colors: {{info.clubColors}}</td> 
                  </tr> 
                  <tr> 
                    <td> Email: {{info.email}}</td> 
                  </tr> 

                  <tr> 
                      <td> Phone: {{info.phone}} </td> 
                    </tr> 

                  </tbody> 
                </table> 
                  
              </div>
          </div>

          <div class="col-md-6">

              <h2>Squad:</h2>

              <div class="tableFixHead" style="overflow-y:scroll; height:450px"> 
                  <table id="myTable" class="table table-hover sorttable">
                  <thead >
                    <tr>
                      <th>Number</th>
                      <th >Position</th>
                      <th>Name</th>
                      <th>Nacionality</th>
                      <th>Role</th>
                      <th>Date of Birth</th>
                    </tr>
                    </thead>
                    <tbody *ngFor ="let plantel of info.squad">
                      <tr>
                          <td>{{plantel.shirtNumber}}</td>
                          <td>{{plantel.position}}</td>
                          <td><a routerLink="/players/{{plantel.id}}">{{plantel.name}}</a></td>
                          <td>{{plantel.nationality}}</td>
                          <td>{{plantel.role}}</td>
                          <td>{{plantel.dateOfBirth | date }}</td>
                      </tr> 
                      </tbody>
                    </table>
                  </div>



          </div>

          <div class="col-md-3">
              <h2>Competitions:</h2>
              <div class="tableFixHead" style="overflow-y:scroll; height:450px"> 
                  <table id="myTable" class="table table-hover sorttable">
                  <thead  style="background-color: rgb(0, 0, 0);">
                    <tr>
                      <th>Name</th>
                      <th >Location</th>
                    </tr>
                    </thead>
                    <tbody *ngFor ="let comp of info.activeCompetitions">
                      <tr>
                          <td>{{comp.name}}</td>
                          <td>{{comp.area.name}}</td>
                      </tr> 
                      </tbody>
                    </table>
                  </div>
          </div>
        </div>

      </div>


      


        <div class="col-md-1"></div>

    </div>

</body>