<head></head>


<body>
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <div class="row">
      <div class="col-md-12">

          <!-- <div ngbDropdown class="d-inline block">
              <button class="btn btn-primary" id="dropdownBasic1" ngbDropdownToggle>League</button> -->

              <!-- <div ngbDropdownMenu aria-labelledby="dropdownBasic1"> -->
                            <button type="button" class="btn btn-primary" (click)="SelectLiga('PPL')" >1ª Liga</button>
                  
                            <button type="button" class="btn btn-primary" style="margin-left: 1%" (click)="SelectLiga('CL')" >UEFA</button>
                      
                            

                  
            
                  
          
              <!-- </div> -->
            <!-- </div> -->

        </div>
      </div>

      <hr>

      <div class="row">
        <div class="col-md-6">
          <h2 >League Name:</h2>
          
                <div class="alert alert-dark" role="alert">
                  {{ligas.name}}  
                </div>

                <h2 >Location:</h2>
                <div class="alert alert-dark" role="alert">
                    {{standings.competition.area.name}}
                  </div>

                <h2>Standings:</h2>
                <div style="overflow-y: scroll; height:400px;"  >
                  <div *ngFor="let teams of standings.standings">
                    <div *ngIf="liga==='CL'">
                      <div class="row" *ngIf= "teams.type=== 'TOTAL'">

                              <!-- <div class="col-md-6" >
                                  <h2 >{{teams.group}} </h2>
                                </div>
                                <div class="col-md-6" >
                                    <h2>{{teams.group}}x </h2>
                                </div> -->
                          
                        </div>
                      </div> 
                   <div *ngIf="liga!='CL'"> 
                      <!-- <h2 *ngIf="teams.type=== 'TOTAL'">{{teams.group}} </h2>     -->
                        <table id="myTable" class="table table-hover " *ngIf="teams.type=== 'TOTAL'">
                          
                        <thead>
                  
                          <tr>
                              <th onclick="sortTable(1)"><img src="https://image.flaticon.com/icons/png/512/36/36861.png" width="15">Position</th>
                              <th >Logo</th>
                              <th onclick="sortTable(2)"><img src="https://image.flaticon.com/icons/png/512/36/36861.png" width="15">Equipa</th>
                              <th onclick="sortTable(3)"><img src="https://image.flaticon.com/icons/png/512/36/36861.png" width="15">J</th>
                              <th onclick="sortTable(4)"><img src="https://image.flaticon.com/icons/png/512/36/36861.png" width="15">V</th>
                              <th onclick="sortTable(5)"><img src="https://image.flaticon.com/icons/png/512/36/36861.png" width="15">E</th>
                              <th onclick="sortTable(6)"><img src="https://image.flaticon.com/icons/png/512/36/36861.png" width="15">D</th>
                              <th onclick="sortTable(7)"><img src="https://image.flaticon.com/icons/png/512/36/36861.png" width="15">GM</th>
                              <th onclick="sortTable(8)"><img src="https://image.flaticon.com/icons/png/512/36/36861.png" width="15">GS</th>
                              <th onclick="sortTable(9)"><img src="https://image.flaticon.com/icons/png/512/36/36861.png" width="15">P</th>
                            </tr>
                          </thead>
                          <tbody *ngFor="let teams2 of teams.table">
                            <td></td>
                            <td ><a><img [src]="teams2.team.crestUrl" width="70%" style="margin-right: 2%"></a></td>
                            <td><a href="#">{{teams2.team.name}}</a></td>
                            <td>{{teams2.playedGames}}</td>
                            <td>{{teams2.playedGames}}</td>
                            <td>{{teams2.playedGames}}</td>
                            <td>{{teams2.playedGames}}</td>
                            <td>{{teams2.playedGames}}</td>
                            <td>{{teams2.playedGames}}</td>
                            <td>{{teams2.playedGames}}</td>
                          </tbody>
                          </table>
                        </div>
                      </div>
                </div>
            </div>
       
        <div class="col-md-6" >
          <h2 >Season {{ligas.seasons[1].startDate}} / {{ligas.seasons[1].endDate}}  Winner:</h2>
            <div class="alert alert-success" role="alert">
              <div class= "text-center">
                  <p><img [src]="ligas.seasons[1].winner.crestUrl" height="558px" width="400px"></p>
                  <p ><a href="#">{{ligas.seasons[1].winner.name}}</a></p>
              </div>
                
            </div>
          </div>
        </div>
    </div>

  <div class="col-md-1"></div>
</div>
</body>
