<head></head>


<body>
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <div class="row">
      <div class="col-md-12">

          <div ngbDropdown class="d-inline block">
              <button class="btn btn-primary" id="dropdownBasic1" ngbDropdownToggle>League</button>

              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                  <button class="dropdown-item" (click)="SelectLiga('PPL','1ª liga')" >1ª Liga</button>
            
                  <button class="dropdown-item" (click)="SelectLiga('CL', 'UEFA Champions League')" >UEFA</button>
          
              </div>
            </div>

        </div>
      </div>

      <hr>

      <div class="row">
        <div class="col-md-6">
          <h1>League Name:</h1>
          <!-- <sectiom class="alert alert-danger" role="alert" *ngFor= "let team of ligas" [class.featured]="team.featured" > -->
                <div class="alert alert-light" role="alert">
                  {{ligas.name}}  
                </div>

                <h1>Location:</h1>
                <div class="alert alert-light" role="alert">
                    {{equipas.competition.area.name}}
                  </div>

                <h1>Equipas:</h1>
                <div class="alert alert-light" role="alert">
                    <div class= "text-center">
                        <p ><img [src]="equipas.teams[4].crestUrl" width="15%">  {{equipas.teams[4].name}}</p>
                    </div>
                  </div>
                
               
          <!-- </sectiom> -->
        </div>
        <div class="col-md-6">
          <h1>Season {{ligas.seasons[1].startDate}} / {{ligas.seasons[1].endDate}}  Winner:</h1>
            <div class="alert alert-success" role="alert">
              <div class= "text-center">
                  <p><img [src]="ligas.seasons[1].winner.crestUrl" width="50%"></p>
                  <p >{{ligas.seasons[1].winner.name}}</p>
              </div>
                
            </div>
      </div>
    </div>
  </div>

  <div class="col-md-1"></div>
</div>
</body>
