<head></head>


<body>
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <div class="row">
      <div class="col-md-12">

          <div ngbDropdown class="d-inline block">
              <button class="btn btn-primary" id="dropdownBasic1" ngbDropdownToggle> {{equipas.competition.name}} </button>

              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                  <button class="dropdown-item" (click)="SelectEquipas('PPL')" >1ª Liga</button>
            
                  <button class="dropdown-item" (click)="SelectEquipas('CL')" >UEFA</button>
          
              </div>
            </div>

            </div>
            </div>
        

      <hr>
      <br>

      <div class="row">
        <div class="col-md-6">

          <h2>Matches:</h2>
          <!-- <sectiom class="alert alert-danger" role="alert" *ngFor= "let team of ligas" [class.featured]="team.featured" > -->
            
                <div class="alert alert-dark" role="alert">

                    <div class="col-md-6"> 
                        {{matches.matches[0].utcDate}} :
                        <p>{{matches.matches[0].homeTeam.name}} VS {{matches.matches[0].awayTeam.name}}</p>
                      </div>
                    <div class="col-md-6"></div>
                 
                  
                </div>
               
          <!-- </sectiom> -->
        </div>
        <div class="col-md-6">

            <div style="overflow-y:scroll; height:700px"> 
                <table id="myTable" class="table table-hover">
                <thead>
                  <tr>
                    <th >Logo</th>
                    <th >Equipa</th>
                    <!-- <th onclick="sortTable(2)"><img src="https://image.flaticon.com/icons/png/512/36/36861.png" width="15">Competições</th>
                    <th onclick="sortTable(3)"><img src="https://image.flaticon.com/icons/png/512/36/36861.png" width="15">Pais</th> -->
                  </tr>
                  </thead>
                  <tbody *ngFor="let teams of equipas.teams">
                    <td ><a><img [src]="teams.crestUrl" width="15%" style="margin-right: 2%"></a></td>
                    <td><a href="#">{{teams.name}}</a></td>
                  </tbody>
                  </table>
                  </div>
        </div>

            <!-- <h2 >Teams:</h2>
            <div class="alert alert-dark">
            <div *ngFor="let teams of equipas.teams" >
              <div class="row">
                <div class="col-md-5" >
                  <div class= "text-center">
                    <img [src]="teams.crestUrl" width="15%" style="margin-right: 2%">
                 </div>
                </div>
              
                <div class="col-md-7">
                    {{teams.name}}
                </div>
              </div>
              </div> 
            </div> -->
              
      </div>
    </div>
  </div>

  <div class="col-md-1"></div>
</body>

