/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap/dist/css/bootstrap.css'; 


html{
    height: 100%;
}


body{
    /* background: -webkit-linear-gradient(rgb(161, 9, 221),rgb(0, 60, 255)); */
    

}
h1{
    color: #eef5f7;
    font-size: 15px;
}


